	<% unless logged_in? %>
	<%= %>
<div id="banner_ads" style="margin-left:0px;">
	<div style="width:500px; float: left; <%= 'background:#fff' unless choose_area  %>;"> 
		<center>
			<!-- Begin: AdBrite -->
		<script type="text/javascript">
		   var AdBrite_Title_Color = '000000';
		   var AdBrite_Text_Color = 'B3B3B3';
		   var AdBrite_Background_Color = 'FFFFFF';
		   var AdBrite_Border_Color = 'FFFFFF';
		   var AdBrite_URL_Color = '000000';
		</script>
		<span style="white-space:nowrap;"><script src="http://ads.adbrite.com/mb/text_group.php?sid=712511&zs=3436385f3630" type="text/javascript"></script><!--
		--><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=712511&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-banner.gif" style="background-color:#80FF00;border:none;padding:0;margin:0;" alt="Your Ad Here" width="11" height="60" border="0" /></a></span>
		<!-- End: AdBrite -->
		</center>
	</div>
	
<% unless choose_area %>
	<div style="margin-left:520px;width:510px;background:#fff">	

			<center>	
		<!-- Begin: AdBrite -->
		<script type="text/javascript">
		   var AdBrite_Title_Color = '000000';
		   var AdBrite_Text_Color = '999999';
		   var AdBrite_Background_Color = 'FFFFFF';
		   var AdBrite_Border_Color = 'ffffff';
		   var AdBrite_URL_Color = '000000';
		</script>
		<span style="white-space:nowrap;"><script src="http://ads.adbrite.com/mb/text_group.php?sid=712514&zs=3436385f3630" type="text/javascript"></script><!--
		--><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=712514&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-banner.gif" style="background-color:#80FF00;border:none;padding:0;margin:0;" alt="Your Ad Here" width="11" height="60" border="0" /></a></span>
		<!-- End: AdBrite --></div>
			</center>

	</div>
<% end %>
<% end %>