<%if map_areas.length > 0 %>
<table border="0" cellspacing="5" cellpadding="5">
	<% for area in map_areas %>
		<% if area.lat && area.lng %>
			<tr>  
				<td>
				<%= link_to image_tag('/images/my_house.png', :size=>"20x20", :align=>:top) +' '+ area.name, {:action => "pick_area", :id=>area.id}, :title=>"search within #{area.name}" %>
				</td>		
			</tr>
		<% end %>
	<% end %>
</table>
<% else %>
 We don't have any cities. <br/>
<% end %>
<%= link_to "request a city", add_city_path%>