
<%if houses.length > 0 %>

	<% for home in houses%>
		<% if home.lat && home.lng && (home.saved == false) %>
		<p id="<%= dom_id home %>_long_list" class="long_list">	
      <%= render :partial => 'long_list', :locals=>{:home=>home} %>
		</p>
		<% end %>
	<% end %>

<% else %>
 We didn't find any houses with the options you gave us.
<% end %>
