		<div id="images_and_streetview" style="; height:400px; width:500px;  background:#fff; padding:5px;">
				<h3>images and streetview</h3>
				<div id="image_pane"></div>
				<div id="sv" style="width: 500px; height:400px; position:absolute; background:#000; padding:5px; display:none; ">
					<center><%= image_tag '/images/loader_black.gif' %></center>
				</div>
		</div>