<div style="line-height:20px"><%= image_tag '/images/logo.png' %> <br/>
Rentmappr was designed to help you <span style="background:#FAFFAA;padding:2px">find a house to rent</span> <b>quickly</b> <i>and</i> <b>easily</b>.<br/>
<br/>

Rentmappr <span style="background:#FAFFAA;padding:2px">downloads data from craigslist.org</span> throughout the day searching for rental houses. <br/>

Our technology allows us to map about 80% of the listings on craigslist to a physical location. <br/>

This makes searching for houses in a specific neighborhood much easier. And gets rid of a lot of the cruft.  <br/>
<br/>

With Rentmappr you can also <span style="background:#FAFFAA;padding:2px">save houses you like</span> (to reference later) 
	<br/> or <span style="background:#FAFFAA;padding:2px">get rid of ones you don't like</span> (they won't pop up in your searches again).
<br/>

Rentmappr also allows you to view images of a property with Google's Streeview,<br/>
 or when available, it will download the images the property owner posted to craigslist.
</div>