body {
  font-family: "Gill Sans MT";
}
#wrapper {
  width: 1060px;
  margin: 20px auto 0 auto;
  border: 1px solid #000;
  padding: 0 20px 10px 20px;
}
#placeholder {
  width: 650px;
  height: 478px;
  padding: 5px;
  border: 1px solid #aaa;
  margin: 10px auto 10px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
h3 {
  line-height: 20pt;
  margin: 0;
}
