#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html
development:
  adapter: mysql
  database: bldrcl
  username: root
  password:
  host: localhost
test:
  adapter: mysql
  database: rentmapper_test
  username: root
  password:
  host: localhost
production: development
