<div class="user_bar">logged in as: <%= current_user.login %> | <%= link_to "logout", logout_path %> <%unless current_user.not_tyler? %>
| <%= link_to "manage users", "/users/show" %>
<% end %> | <%= link_to "found a bug?", :action=>:bug_report %></div><br/>